<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Spree E2E Tests" verbose="1" >
    <test name="Regression">
        <classes>
            <class name="login.LoginTest"/>
            <class name="home.ShopByLinksTest"/>
        </classes>
    </test>
</suite>
